.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-evenly;
  align-items: center;
  height: 292px;
  padding: 89px 50px 95px 50px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: min-content;
}
.cover {
  position: relative;
  min-height: 757px;
  padding: 0;
  background-image: url(../images/cover.jpg);
}
.lots {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 723px;
  padding: 187px 24px 155px 24px;
}
.about {
  min-height: 595px;
  padding: 0 24px 181px 71px;
}
.footer {
  display: grid;
  grid-template-columns: 264px 164px 240px;
  justify-content: space-between;
  height: 180px;
  margin-right: 10px;
  margin-left: -25px;
  padding: 0 42px 82px 51px;
}
.header__logo {
  display: block;
  width: min-content;
  height: min-content;
  padding-top: 3px;
}
.header__logo-image {
  width: 146px;
  height: 106px;
}
.header__list-links {
  display: flex;
  flex-direction: row;
  gap: 34px;
  text-underline-offset: 3px;
  list-style: none;
}
.header__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
}
.header__links-list-item_no-bullit {
  list-style: circle;
}
.header__link_active {
  text-decoration: none;
}
.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 236px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 120%;
  text-underline-offset: 3px;
}
.description {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 50px 50px 60px 50px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 19px;
}
.cover__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 134%;
  letter-spacing: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.aligned-text {
  display: flex;
  flex-direction: column;
  padding-top: 158px;
  padding-left: 50px;
}
.aligned-text_left {
  z-index: 1;
  text-align: left;
}
.aligned-text_center {
  z-index: 1;
  padding-right: 23px;
  text-align: center;
}
.aligned-text_right {
  z-index: 1;
  padding-right: 20px;
  text-align: end;
}
.bet-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 48px;
  border-color: #ffffff;
  padding: 14px 32px 14px 31px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
}
.lots__heading {
  display: block;
  width: 121px;
  height: 47px;
  padding-left: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: uppercase;
}
.lots__card-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 100%;
  margin-top: 22px;
  list-style: none;
}
.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-size: cover;
}
.card-link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card {
  height: 100%;
}
.card_type_film {
  padding: 0;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}
.card_type_book {
  padding: 0;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  padding: 0;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}
.card__title {
  padding-top: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-transform: uppercase;
}
.card__text {
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: none;
}
.lots__look-more-link {
  padding-top: 30px;
  padding-right: 102px;
  padding-left: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-transform: none;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  width: 100%;
}
.about__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000000;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  margin-left: -22px;
  padding-top: 109px;
  padding-bottom: 100px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 -20px 0 -22px;
  padding-right: 29px;
  padding-bottom: 181x;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 122%;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: none;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 3px;
  list-style: none;
}
.footer__menu-list-item {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-transform: none;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

